<form method="post">
    <div>
        <label>
            Name
        </label>
        <input value="<%= book.name %>" type="text" id="name" name="name">
    </div>
    <div>
        <label>
            Description
        </label>
        <input value="<%= book.description %>" type="text" id="description" name="description">
    </div>
    <div>
        <label>
            Price
        </label>
        <input value="<%= book.price %>" type="number" id="price" name="price">
    </div>
    <div>
        <label>
            Release Date
        </label>
        <input value="<%= book.releaseDate %>" type="date" id="releaseDate" name="releaseDate">
    </div>
    <div>
        <label>
            Book Category
        </label>
        <input value="<%= book.bookCategory %>" type="text" id="bookCategory" name="bookCategory">
    </div>
    <div>
        <label>
            Number Of Pages
        </label>
        <input value="<%= book.numberOfPages %>" type="number" id=" numberOfPages" name="numberOfPages">
    </div>
    <button type="submit">Submit</button>
</form>
    
  